{% extends 'base.html' %}

{% block content %}
<h3>Put your links here. Every link in single input</h3>
<form action="/save-product-links/" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% for link in links %}
        <div class="par">
            <input style="width: 80%; height: 26px" type="text" name="link" value="{{ link.link|escape }}" placeholder="Enter your link ..." required>
            <input style="width: 80%; height: 26px" type="text" name="price" value="{{ link.price|escape }}" placeholder="Enter your link product price" required>
            <button class="del" type="button" style="background-color: red; color: white; width: 30px; height: 30px">X</button>
        </div>
        <br>
        <br>
    {% endfor %}
</form>
<button style="background-color: forestgreen; color: white; width: 30px; height: 30px" class="plus">+</button>
<br>
<br>
<input type="submit" value="Submit" onclick="$('form').submit()">
<br>
<br>


<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(".plus").trigger("click")
    });

    $(".plus").click(function () {

        $("form").append(`
            <div class="par">
                <input style="width: 80%; height: 26px" type="text" name="link" placeholder="Enter your link ..." required>
                <input style="width: 80%; height: 26px" type="text" name="price" placeholder="Enter your link product price" required>
                <button class="del" type="button" style="background-color: red; color: white; width: 30px; height: 30px">X</button>
            </div>
        <br><br>
`)
    });

    $(document).on("click", ".del", function() {
       $(this).closest(".par").remove();
    });

</script>

{% endblock %}