{% extends 'base.html' %}

{% block content %}
    <div class="table-responsive">
        <table class="table thead-dark">
            <thead>
            <tr>
                <th>User</th>
                <th>Products</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for d in data %}
                <tr>
                    <td>{{ d.user.name|escape }} {{ d.user.surname|escape }}</td>
                    <td>
                        <ul>
                            {% for link in d.products %}
                                <li>
                                    <a href="{{ link.link|escape }}" target="_blank">{{ link.link|escape }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for price in d.products %}
                                <li>
                                    {{ price.price|escape }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>

{% endblock %}