<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lets պերերիվ</title>
    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
</head>


<body>
<div class="container">
    <div class="row">
        <div class="tm-blue-bg tm-left-column">
            <div class="tm-logo-div text-xs-center">
                <h1 class="tm-site-name">Lets պերերիվ</h1>
            </div>
            <nav class="tm-main-nav">
                <ul class="tm-main-nav-ul">
                    <li class="tm-nav-item">
                        <a href="/" class="tm-nav-item-link">Register</a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="/add-product-links/" class="tm-nav-item-link">Add Products</a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="/get-random-host/" class="tm-nav-item-link">See/register today's host</a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="/all-orders/" class="tm-nav-item-link">See All links</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="tm-right-column">
            <div class="tm-content-div">
                <header>
                    <h2 class="tm-blue-text tm-welcome-title tm-margin-b-45">Welcome to Lets պերերիվ</h2>
                </header>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}


                <!-- Welcome section -->
                <section id="welcome" class="tm-section">
                        {% block content %}{% endblock %}
                </section>

            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.singlePageNav.min.js"></script>
</body>
</html>
<body>