{% extends 'base.html' %}

{% block content %}
<form action="save-user/" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="name">Name</label>
    <input id="name" required type="text" name="name" value="{{ user.name }}" placeholder="Enter your name ...">
    <br>
    <br>
    <label for="surname">Surname</label>
    <input id="surname" required type="text" name="surname" value="{{ user.surname }}" placeholder="Enter your surname ...">
    <br> <br>
    <input type="submit" value="Submit">
</form>

{% endblock %}